body{
    margin:3%;
}
label {
    display: inline-block;
    width: 7%;
    text-align: left;
  }
#product_type_label{
    width:9%;
}
h3{
   display: inline-block;
}
#footer {
    position: fixed;
    bottom: 0;
  width: 93%;
}
#footertext{
    text-align: center;
}
.square {
    width: 250px;
    height: 200px;
    border:3px solid black;
    float: left;
    position: relative;
    margin:3%;
	text-align: center; 
	box-sizing: border-box;
 
  }
  .content {
    margin: 3%; 
  }
  a{
      text-decoration: none;
      color:white;
  }
  a:hover{
      color:white;
  }
  #title{
      width:20%;
      margin: 0;
  }
  #nav{
      display: flex;
  }
  #buttons{
   margin-left: 75%;
  }
  .delete-checkbox{
   text-align: center;
   font-size:large;
  }
  #flexCheckDefault{
     float: left;
  }
#form_content{
    margin-top: 2%;
}
.error{
    color:red;
}



